body{
  background-image: url('/images/login-background.jpg');
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}
.login-form {
  margin-top: 70px;
  margin-left: 35%;
  background-color: rgba(255, 255, 255, 0.4);
  width:400px;
}

.login-form h2 {
  font-weight: lighter;
  padding-left: 70px;
}

.login-form input{
  height: 25px;
  width: 270px;
  margin: 5px;
  font-size: 15px;
  border: none;
  margin-left: 68px;
}

.login-form input:focus{
  outline: none;
}

.login-form button {
  height: 20px;
  width: 100px;
  margin-left: 158px;
  margin-top: 20px;
}

.signup-text {
  padding-top: 20px;
  padding-left: 90px;
}
