
.nav-container{
  height: 45px;
  background: black;
}

.nav-container ul{
  list-style: none;

}

.nav-container li{
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.nav-container a{
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
