body{
  font-family: sans-serif;
}

#preview {
  height: 320px;
  margin: 10px;
}

body h2{
  font-weight: lighter;
  padding-left: 20px;

}

.container{
}

.column1 {
  width: 400px;
  margin-left: 18%;
  float: left;
  margin-right: 50px;
  margin-top: 20px;
  border-right: 1px dotted black;
}

.description-box {
  float: left;
  padding-top: 0px;
}
.description-box input {
  width: 300px;
  height: 25px;
  font-size: 15px;
  margin-bottom: 10px;
}
.description-box select {
  margin-bottom: 10px;
  width: 150px;
}

.description-box h3{
  font-weight: lighter;
  background-color: rgba(96,223,229, 0.7)
}

.description-box textarea{
  width: 300px;
  height: 110px;
  font-size: 15px;
}
